@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/*------------------------ MENUBAR -------------------*/

.navbar-brand{
    margin-right: 25rem !important;
}

/*---------------------- INICIO ----------------------*/

.col, .col-sm-8{
    margin-top: 41px !important;
    margin-right: 40px;
}

.col-sm-8 h1{
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 3rem;
    margin-top: 80px;
}

.col-sm-8 p{
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 1rem;
    width: 70%;
    margin-top: 20px;
}

/*----------------------- PRODUCTOS -------------------*/

.title h2{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 2rem;
    margin-top: 80px;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

/*--------------------------- PREGUNTAS ----------------------*/

.title2 h2{
    text-align: center;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 2rem;
    margin-top: 60px;
    margin-bottom: 40px;
}

/*--------------------- FORMULARIO -----------------------*/

.title3 h2{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 2rem;
    margin-top: 40px;
    text-align: center;
}

/*----------------------- RESPONSIVE -----------------------*/

@media screen and (max-width: 768px){

    /*--------- MENU ---------*/
    
    .navbar-brand{
        margin-right: 1rem !important;
    }

    /*--------- INICIO ---------*/

    .col, .col-sm-8{
        margin-top: 0rem !important;
    }
    
    .col-sm-8 h1{
        font-size: 2.6rem;
        text-align: center;
    }
    
    .col-sm-8 p{
        text-align: center;
        width: 100%;
    }
    

    /*-------- QUIENES SOMOS ------*/

    .col-md-5 img{
        display: none;
    }

    .card-title{
        text-align: center;
        margin-bottom: 30px !important;
    }

    .card-text{
        text-align: center;
    }
    
    /*-------- FAQS ------*/
    
    .title2 h2{
        font-family: 'Poppins';
        font-weight: 600;
        font-size: 2rem;
        margin-top: 60px;
        text-align: center;
    }
    
    .col-sm-5 img{
        display: none;
    }

    /*-------- CONTACTO ------*/
    
    .title3 h2{
        font-family: 'Poppins';
        font-weight: 600;
        font-size: 2rem;
        margin-top: 40px;
        text-align: center;
    }

}