@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box; }

.container-body {
  width: 90%;
  max-width: 1200px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: repeat(7, auto); }

.navbar-nav {
  margin-left: 450px !important; }

h1 {
  grid-column: span 3;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 3rem;
  margin-top: 80px;
  text-align: center; }

.material {
  grid-column: span 3; }
  .material h1 {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 2rem;
    margin-right: 30px;
    margin-bottom: 40px;
    text-align: none; }

.contenido {
  grid-column: 1 / 2; }
  .contenido img {
    width: 24rem;
    height: 187px;
    margin: 22px;
    transition: 0.5s; }
  .contenido img:hover {
    transform: scale(1.1); }

.cont-material {
  width: 100%;
  grid-column: 2 / -1;
  margin-bottom: 100px; }
  .cont-material p {
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 1rem;
    margin-left: 60px; }

@media screen and (width: 768px) {
  .contenido img {
    display: none; }}
  .cont-material{
    grid-column: span 3;
  }

@media screen and (max-width: 480px) {
  .navbar-nav {
    margin-left: 0px !important; }
  #titulo {
    grid-column: span 3;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 2.3rem;
    margin-top: 80px;
    text-align: center; }
  .qs {
    grid-column: span 3; }
    .qs h1 {
      font-family: 'Poppins';
      font-weight: 600;
      font-size: 1.8rem;
      margin-right: 30px;
      margin-bottom: 40px;
      text-align: center; }
  .contenido {
    grid-column: span 3; }
    .contenido img {
      width: 17.5rem;
      height: 187px;
      margin: 31px;
      transition: none; }
  .cont-material {
    width: 100%;
    grid-column: span 3;
    margin-bottom: 100px; }
    .cont-material p {
      font-family: 'Poppins';
      font-weight: 300;
      font-size: 1rem;
      margin-left: 60px;
      text-align: start;
      margin-right: 19px; } }
