@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
}

.container-body{
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(3, auto);
}

/*--------------------- MENU ----------------------*/

.menu{
    grid-column: 1 / -1;
    display: flex;
    background: rgb(235, 235, 235);
}

.logo img{
    width: 6rem;
    margin: 13px 30px;
}

.menu ul{
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.menu ul li{
    list-style: none;
    margin-right: 30px;
}

.menu ul li a{
    text-decoration: none;
    color: black;
    font-family: 'Poppins';
    font-weight: 400;
}

.menu i{
    display: none;
}

/*------------------------ PRODUCTO --------------------*/

.title{
    display: none;
}

.producto{
    grid-column: 1 / 2;
    display: inline-block;
    background-color: rgb(255, 246, 234);
    margin-top: 50px;
    height: 560px;
    padding: 277px;
}

.producto img{
    background: white;
    width: 428px;
    margin-left: -236px;
    margin-top: -224px;
}

.contenido{
    grid-column: 2 / -1;
    margin-left: 120px;
    margin-top: 50px;
    background-color: rgb(255, 246, 234);
}

.contenido h1{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 3rem;
}

.contenido p {
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 1rem;
}

.contenido span{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 1.5rem;
}

.contenido h4{
    margin-left: 430px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 1.4rem;
    margin-top: -34px;
}

.contenido a{
    padding: 10px;
    border: 2px solid rgb(255, 183, 83);
    text-decoration: none;
    border-radius: 35px;
    color: black;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 1rem;
    cursor: pointer;
    margin-left: -6px;
}

.contenido a:hover{
    border: 3px solid rgb(253, 175, 66);
    background-color: rgb(255, 195, 110);
    transition: .5s;
}

/*------------------------ FOOTER ------------------------*/

.footer1{
    grid-column: 1 / 2;
}

.footer2{
    grid-column: 2 / 3;
}

.footer3{
    grid-column: 3 / -1;
}

.footer1, .footer2, .footer3{
    margin: 40px;
    margin-right: 200px;
}

.footer1 h2, .footer2 h2, .footer3 h2{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 1.3rem;
}

.cont ul{
    list-style: none;
    margin-left: -40px;
}

.cont ul li{
    list-style: none;
    margin-right: 30px;
    border-bottom: 1px solid black;
    box-sizing: border-box;
    padding-left: 0;
    margin-bottom: 15px;
    padding: .1rem;
}

.cont ul li a{
    text-decoration: none;
    color: rgb(121, 121, 121);
    font-family: 'Poppins';
    font-weight: 400;
}

.cont ul li a:hover{
    color: rgb(0, 0, 0);
    transition: .5s;
}

.cont a i{
    color: rgb(121, 121, 121);
    margin-left: 6px;
    font-weight: 500;
}

.cont a i:hover{
    color: black;
    transition: .5s;
}




/*----------------------- RESPONSIVE -----------------------*/

@media screen and (max-width: 768px){

    /*--------- MENU ---------*/
    
    .menu{
        grid-column: 1 / -1;
        display: flex;
        background: rgb(235, 235, 235);
    }
    
    .logo img{
        width: 4.5rem;
        margin: 12px 12px;
    }
    
    .menu ul{
        display: none;
    }

    .menu i{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 201px;
    }

    /*-------- PRODUCTOS ------*/

    .title{
        display: block;
        grid-column: span 3;
        margin-left: 120px;
        margin-top: 50px;
        background-color: rgb(255, 246, 234);
        font-family: 'Poppins';
        font-weight: 600;
        font-size: 2 rem;
        text-align: center;
        padding-left: -2px;
        padding-top: 10px;
        margin-left: 0px;
        margin-bottom: -53px;
    }

    .producto{
        grid-column: span 3;
        padding: 97px;
        height: 292px;
    }

    .producto img{
        background: white;
        width: 264px;
        margin-left: -77px;
        margin-top: -77px;
    }

    .contenido{
        grid-column: span 3;
        margin-left: 0px;
        margin-top: 0px;
        background-color: rgb(255, 246, 234);
        height: 325px;
    }
    
    .contenido h1{
        display: none;
    }
    
    .contenido p {
        text-align: center;
        margin: 5px;
    }
    
    .contenido span{
        margin-left: 5px;
    }
    
    .contenido h4{
        margin-left: 90px;
        margin-top: -37px;
    }
    
    .contenido a{
        margin-left: 10px;
    }
    
    .contenido a:hover{
        border: 3px solid rgb(253, 175, 66);
        background-color: rgb(255, 195, 110);
        transition: .5s;
    }

    /*-------- FOOTER ------*/

    .footer1, .footer2, .footer3{
        grid-column: span 3;
    }

}