@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*------------------------ MENUBAR -------------------*/

.navbar-brand{
    margin-right: 30rem !important;
}


/*------------------------ PRODUCTO --------------------*/

.card-body p {
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 1rem;
}

.card-body span{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 1.3rem;
}

.card-body h4{
    margin-left: 430px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 1.2rem;
    margin-top: -34px;
    margin-bottom: 40px;
}

.card-body a{
    padding: 10px;
    border: 2px solid rgb(255, 183, 83);
    text-decoration: none;
    border-radius: 35px;
    color: black;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 1rem;
    cursor: pointer;
    margin-left: -6px;
}

.card-body a:hover{
    border: 3px solid rgb(253, 175, 66);
    background-color: rgb(255, 195, 110);
    transition: .5s;
}


/*----------------------- RESPONSIVE -----------------------*/

@media screen and (max-width: 768px){

    /*--------- MENU ---------*/
    
    .navbar-brand{
        margin-right: 1rem !important;
    }

    /*-------- PRODUCTO ------*/


    .col-md-5 img{
        margin-left: 1px !important;
    }

    .card-title{
        text-align: center;
        margin-bottom: 30px !important;
    }

    .card-text{
        text-align: center;
    }
    
    .card-body span{
        margin-top: 20px;
        margin-left: 5px;
    }
    
    .card-body h4{
        margin-left: 90px;
        margin-top: -32px;
    }
    
    .card-body a{
        margin-left: 10px;
    }
    
    .card-body a:hover{
        border: 3px solid rgb(253, 175, 66);
        background-color: rgb(255, 195, 110);
        transition: .5s;
    }

}