$colornav: rgb(235, 235, 235);

.menu{
    grid-column: 1 / -1;
    display: flex;
    background: rgb(235, 235, 235)
}

.logo{
    transition: .5s;

    img{
        width: 6rem;
        margin: 13px 30px;
    }
}

.logo:hover{
    transform: scale(1.1);
}

ul{
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;

    li{
        list-style: none;
        margin-right: 30px;
        transition: .5s;

        a{
            text-decoration: none;
            color: black;
            font-family: 'Poppins';
            font-weight: 400;
        }

    }

}

.menu ul li:hover{
    transform: translateY(-3px);
}

.menu i{
    display: none;
}

@media screen and (max-width: 768px){

    /*--------- MENU ---------*/
    
    .menu{
        grid-column: 1 / -1;
        display: flex;
        background: rgb(235, 235, 235);
    }
    
    .logo img{
        width: 4.5rem;
        margin: 12px 12px;
    }
    
    .menu ul{
        display: none;
    }

    .menu i{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 201px;
    }

}